.text-white {
    color: white;
}

.text-black {
    color: black;
}

/* Utility classes for display */
.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.d-inline-block {
    display: inline-block;
}