@import url("../0.const.css");

/* Background Colors */
.bg-primary-100 { background-color: var(--primary-100); }
.bg-primary-300 { background-color: var(--primary-300); }
.bg-primary-500 { background-color: var(--primary-500); }
.bg-primary-700 { background-color: var(--primary-700); }
.bg-primary-900 { background-color: var(--primary-900); }

.bg-secondary-100 { background-color: var(--secondary-100); }
.bg-secondary-300 { background-color: var(--secondary-300); }
.bg-secondary-500 { background-color: var(--secondary-500); }
.bg-secondary-700 { background-color: var(--secondary-700); }
.bg-secondary-900 { background-color: var(--secondary-900); }

.bg-tertiary-100 { background-color: var(--tertiary-100); }
.bg-tertiary-300 { background-color: var(--tertiary-300); }
.bg-tertiary-500 { background-color: var(--tertiary-500); }
.bg-tertiary-700 { background-color: var(--tertiary-700); }
.bg-tertiary-900 { background-color: var(--tertiary-900); }

.bg-body { background-color: var(--background-body); }
.bg { background-color: var(--background); }
.bg-alt { background-color: var(--background-alt); }

/* Text Colors */
.text-primary-100 { color: var(--primary-100); }
.text-primary-300 { color: var(--primary-300); }
.text-primary-500 { color: var(--primary-500); }
.text-primary-700 { color: var(--primary-700); }
.text-primary-900 { color: var(--primary-900); }

.text-secondary-100 { color: var(--secondary-100); }
.text-secondary-300 { color: var(--secondary-300); }
.text-secondary-500 { color: var(--secondary-500); }
.text-secondary-700 { color: var(--secondary-700); }
.text-secondary-900 { color: var(--secondary-900); }

.text-tertiary-100 { color: var(--tertiary-100); }
.text-tertiary-300 { color: var(--tertiary-300); }
.text-tertiary-500 { color: var(--tertiary-500); }
.text-tertiary-700 { color: var(--tertiary-700); }
.text-tertiary-900 { color: var(--tertiary-900); }

/* Text Colors */
.text-main { color: var(--text-main); }
.text-bright { color: var(--text-bright); }
.text-muted { color: var(--text-muted); }
.text-links { color: var(--links); }
.text-code { color: var(--code); }
.text-form-placeholder { color: var(--form-placeholder); }
.text-form-text { color: var(--form-text); }
.text-variable { color: var(--variable); }

/* Border Colors */
.border-color { border-color: var(--border); }

/* Interactive Colors */
.focus-color { box-shadow: 0 0 0 2px var(--focus); }
.button-base { background-color: var(--button-base); }
.selection { background-color: var(--selection); }
.highlight { background-color: var(--highlight); }
